- name: Create New Partitions
  become: true
  community.general.parted:
    device: "{{ item.value.disk_source }}"
    label: gpt
    number: "{{ item.value.device_number }}"
    state: present
    part_start: "{{ '1' if item.value.start_address == 0 else item.value.start_address }}MiB"
    part_end: "{{ item.value.end_address }}MiB"
  loop: "{{ partitions | dict2items }}"

- name: Create Filesystems in New Partitions
  become: true
  community.general.filesystem:
    dev: "{{ item.value.disk_source }}{{ item.value.device_number }}"
    fstype: "{{ item.value.fstype }}"
    opts: "-L {{ item.key }}"
  loop: "{{ partitions | dict2items }}"

- name: Add New Partitions to fstab
  become: true
  when: not item.value.migration
  ansible.posix.mount:
    path: "{{ item.value.target }}"
    src: "LABEL={{ item.key }}"
    fstype: "{{ item.value.fstype }}"
    opts: "defaults"
    state: present
  loop: "{{ partitions | dict2items }}"

- name: Reboot to Reload fstab
  become: true
  when: not item.value.migration
  ansible.builtin.reboot:
    connect_timeout: 5
    reboot_timeout: 180
